<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <h5 class="my-0 mr-md-auto font-weight-normal">Cron Monitor</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">Features</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pricing</a>
    </nav>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="dropdown">
            <a href="#" class="nav-link btn btn-outline-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ app.user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Profil</a>
                <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Modifier mon Profil</a>
                <a class="dropdown-item" href="{{ logout_path() }}">Sign out</a>
            </div>
        </div>
    {% else %}
        <a class="btn btn-outline-primary" href="{{ path('fos_user_security_login') }}">Sign up</a>
    {% endif %}
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('homepage') }}">Cron Monitor</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path('homepage') }}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Cron
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('cron_index') }}">Liste des crons</a>
                    <a class="dropdown-item" href="{{ path('cron_new') }}">Ajouter une cron</a>
                </div>
            </li>
        </ul>



    </div>
</nav>
