{% extends 'base.html.twig' %}

{% block title %}Cron index{% endblock %}

{% block body %}
    <h1>Cron index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cron in crons %}
            <tr>
                <td>{{ cron.id }}</td>
                <td>{{ cron.name }}</td>
                <td>
                    <a href="{{ path('cron_show', {'id': cron.id}) }}">show</a>
                    <a href="{{ path('cron_edit', {'id': cron.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('cron_new') }}">Create new</a>
{% endblock %}